<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
    <p th:text="'Person ID: ' + ${person.getId()}">VALUE</p>


    <p th:text="'Person name: ' + ${person.getName()}">VALUE</p>

    <p th:text="'Person surname: ' + ${person.getSurname()}">VALUE</p>

    <p th:text="'Person age: ' + ${person.getAge()}">VALUE</p>

    <label for="parent">Person parent: </label>
    <a th:href="@{/people/{id}(id=${person.getParent().getId()})}"
       th:text="${person.getParent().getName()}" id="parent">parent</a>
</body>
</html>